<a href="https://colab.research.google.com/github/delta1908/Hackerearth-Machine-Learning-Challenge-How-effective-is-the-STD-drug/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Training and test data

In [300]:
import pandas as pd
data=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')
data

       patient_id  ... base_score
0          206461  ...   8.022969
1           95260  ...   7.858458
2           92703  ...   6.341969
3           35696  ...   6.590176
4          155963  ...   6.144782
...           ...  ...        ...
32160      183202  ...   6.963020
32161      109111  ...   0.899076
32162      121154  ...   6.241812
32163       45410  ...   7.940428
32164      187382  ...   8.205393

[32165 rows x 8 columns]

Merging text

In [0]:
data['review_by_patient']=data['review_by_patient']+data['use_case_for_drug']+data['name_of_drug']
test['review_by_patient']=test['review_by_patient']+test['use_case_for_drug']+test['name_of_drug']
from gensim.parsing.preprocessing import preprocess_documents
t1=preprocess_documents(data['review_by_patient'])
t2=preprocess_documents(test['review_by_patient'])

In [0]:
l1=[]
for i in t1:
  s1=''
  for j in i:
    s1=s1+j+' '
  l1.append(s1)
l2=[]
for i in t2:
  s2=''
  for j in i:
    s2=s2+j+' '
  l2.append(s2)
data['review_by_patient']=l1
test['review_by_patient']=l2

Tfidf for Vectorizing the Text

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
reg=TfidfVectorizer()
text=data['review_by_patient']
test_text=test['review_by_patient']
text_to_vector=reg.fit_transform(text)
test_text_to_vector=reg.transform(test_text)
Y=data['base_score']

Normalizing the Sparse matrix

In [305]:
import numpy as np
t=text_to_vector.toarray()
from numpy import linalg as LA
l=[LA.norm(i) for i in t]
for i in range(len(l)):
  for j in k:
    if l[i]==j:
      l[i]=k.index(j)+1
data['new_column']=l
X_train=data[['effectiveness_rating','number_of_times_prescribed','new_column']]
X_train

       effectiveness_rating  number_of_times_prescribed  new_column
0                         9                          27           1
1                         8                         192           0
2                         5                          17           1
3                         9                          37           1
4                         2                          43           1
...                     ...                         ...         ...
32160                     9                          89           1
32161                     6                           0           1
32162                     9                          25           1
32163                     8                          22           1
32164                     2                          35           1

[32165 rows x 3 columns]

In [299]:
k=[]
for i in data['new_column']:
  if i not in k:
    k.append(i)
k

[1, 0]

In [210]:
import numpy as np
t=test_text_to_vector.toarray()
from numpy import linalg as LA
l=[LA.norm(i) for i in t]
for i in range(len(l)):
  for j in k:
    if l[i]==j:
      l[i]=k.index(j)+1
test['new_column']=l
X_test=test[['effectiveness_rating','number_of_times_prescribed','new_column']]
X_test

       effectiveness_rating  number_of_times_prescribed  new_column
0                        10                          22           2
1                         9                          35           2
2                         4                          13           2
3                         7                          21           2
4                         2                          44           2
...                     ...                         ...         ...
10755                     1                           2           4
10756                     1                          18           2
10757                    10                          43           4
10758                     8                           7           3
10759                     9                          46           2

[10760 rows x 3 columns]

In [209]:
k=[]
for i in test['new_column']:
  if i not in k:
    k.append(i)

[0.9999999999999998,
 1.0,
 1.0000000000000002,
 0.9999999999999999,
 0.9999999999999997,
 0.9999999999999996,
 1.0000000000000004]

Model:GradientBoostingRegressor

In [306]:
from sklearn.ensemble import GradientBoostingRegressor
reg1=GradientBoostingRegressor(max_depth=8, n_estimators=1400)
reg1.fit(X_train,Y)
reg1.feature_importances_

array([4.90125853e-01, 5.09744956e-01, 1.29191332e-04])

In [0]:
pred=reg1.predict(X_test)

In [0]:
import csv
with open('predictions.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['patient_id','base_score'])
    for i in range(len(list(pred))):
        writer.writerow([test["patient_id"][i],pred[i]])

Score

In [307]:
pred1=reg1.predict(X_train)
from sklearn.metrics import r2_score
score=r2_score(Y,pred1)
score

0.9999999607049629